  <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<div class="page-header centered">
  <h1>Fai la tua domanda <small>I migliori giustisti ti risponderanno</small></h1>
</div>
<div class="row" >
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
<%= render 'form' %>
  </div>
  <div class="col-md-2">
  </div>
</div>

